* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #64b0ad;
  --secondary-color: #fff;

  --font-family: 'Montserrat', 'Geneva', Tahoma, sans-serif;
  --border-radius: 10px;
}

body {
  height: 100vh;
  background: radial-gradient(circle, rgb(37, 135, 125) 0%, rgb(19, 43, 43) 100%);
  overflow-y: hidden;
  animation: gradient 8s forwards infinite linear;
}

/* animatie gradiënt */
@keyframes gradient {
  0% {
      background-position: 0% 50%;
      background-size: 100% 100%;
  }
  50% {
      background-position: 100% 50%;
      background-size: 400% 400%;
  }
  100% {
      background-position: 0% 50%;
      background-size: 150% 100%;
  }
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;

}

h1, h2, p, li {
  text-align: left;
  color: white;
  font-family: var(--font-family);
}

ul {
  list-style: none;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}


h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
  font-weight: 700;
  margin: 0px;
}

p {
  font-size: 1.2em;
}

img {
  width: 100%;
}

#repeater {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.card {
  background-color: transparent;
  width: 500px;
  height: 600px;
  perspective: 1000px;
  border-radius: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.flip-card-front {
  background-color: var(--primary-color);
  color: black;

  display: grid;
  grid-template-rows: 1fr 2fr;
}

.flip-card-back {
  background-color: var(--primary-color);
  color: white;
  transform: rotateY(180deg);
  padding: 2em;
}

.flip-card-back > h1 {
  margin-bottom: 1em;
}

.flip-card-back section {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.flip-card-back button {
  padding: 20px 50px;
  border: 1px solid #fff;
  color: #fff;
  background-color: #64b0ad;
  border-radius: var(--border-radius);
  width: auto;
}

.flip-card-back button:hover {
  background-color: #fff;
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.card-img {
  position: relative;
}

.card-img img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
}

.person-info {
  padding: 1.5em;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.person-info p:first-of-type {
  font-size: 1.5em;
  font-weight: 600;

}
.hobbies {
  padding: 1em 2em;
}

.hobbies li {
  filter: drop-shadow(5px -2px 2px rgb(0, 0, 0));
  list-style: none;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  mix-blend-mode: darken;
}

button.correct {
  background-color: #61c079;
}

button.incorrect {
  background-color: #c06761;
}
